.First{
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  

}
.back{
  background-image: url("../public/image3.jpg");
  height: 40rem;
  background-size: 100%;
}

.organiser{
  /* background-image: url("../public/organise.jpg"); */
  background-color: aqua;
  height: 50rem;
  background-repeat: no-repeat;

  /* background-size: ; */
}
.organise{
  background-image: url("../public/organise.jpg");
  height: 100%;
  background-size: 100%;
  /* background-repeat: no-repeat; */

  /* background-size: ; */
}
.category{
  background-image: url("ADMIN/category.jpg");
  height: 40rem;
  background-size: 100%;
}
.sub{
  background-image: url("ADMIN/category.jpg");
  height: 40rem;
  background-size: 100%;
}
.password{
  background-image: url("ADMIN/password.jpg");
  height: 40rem;
  background-size: 100%;
}
.exihibition{
  background-image: url("ARTIST/exihi.jpg");
  height: 40rem;
  background-size: 100%;
}
.navtoggle{
  display: none;
}
