.First{
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  

}
.back{
  background-image: url("../public/image3.jpg");
  height: 40rem;
  background-size: 100%;
}

/* .organiser{ */
  /* background-image: url("../public/organise.jpg");
  background-color: aqua;
  height: 50rem;
  background-repeat: no-repeat; */

  /* background-size: ; */
/* } */
/* .organise{
  background-image: url("../public/organise.jpg");
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

  background-size: ;
}  */
/* image */
.organise{
  background-image: url("../public/organise.jpg");
  background-color: aqua;
  height: 50rem;
  background-repeat: no-repeat;
}
/* .organiser{
  background-image: url("../public/organise.jpg");
  /* background-color: aqua; */
  /* height: 50rem;
  background-repeat: no-repeat;

  background-size: screen; */
  
/* } */ */

.organiser{
  background-image: url("../src/ARTIST/imgs.jpg");
  /* background-color: aqua; */
  height: 50rem;
  background-repeat: no-repeat;

  background-size: screen;
  
}

.category{
  background-image: url("ADMIN/category.jpg");
  height: 40rem;
  background-size: 100%;
}
.sub{
  background-image: url("ADMIN/category.jpg");
  height: 40rem;
  background-size: 100%;
}
.password{
  background-image: url("ADMIN/password.jpg");
  height: 40rem;
  background-size: 100%;
}
.exihibition{
  background-image: url("ARTIST/exihi.jpg");
  height: 40rem;
  background-size: 100%;
}
.navtoggle{
  display: none;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

